SECRET_KEY = "your-code"
OMDB_KEY = 0987654321dcba
DB_NAME = postgres_base
DB_USERNAME = postgres_user
DB_PASSWORD = postgres_password
DB_HOST = db
DB_PORT = 5432
ALLOWED_HOSTS = "127.0.0.1", "another_host"
CELERY_RESULT_BACKEND = "redis://redis:6379/0"
CELERY_BROKER_URL = "redis://redis:6379/0"