[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "4.1.*"
python-decouple = "3.7"
crispy-bootstrap5 = "0.7"
django-configurations = "2.4"
django-registration = "3.3"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
